<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileStreamBot | {{file_name}}</title>
    <link rel="icon" href="https://i.ibb.co/Hh4kF2b/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/proavipatil/data@main/fs/src/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/proavipatil/data@main/fs/src/plyr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jwplayer.com/libraries/7sjHar0d.js"></script> <!-- Replace with your JW Player key -->
</head>

<body>
    <nav>
        <div class="nleft">
            <a href="#">
                <h3 id="heading" class="magnet title">FILE STREAM</h3>
            </a>
        </div>
        <div class="nryt">
            <a class="home-btn magnet" href="#main">HOME</a>
            <a href="#abtus" class="about-btn magnet">ABOUT</a>
        </div>
    </nav>
    <center>
        <div class="about-nav">
            <a href="#abtus" class="wlcm magnet">WELCOME</a>
            <a href="#channels" class="abt-chnl magnet">CHANNELS</a>
            <a href="#contact" class="magnet contact-btn">CONTACT</a>
        </div>
    </center>

    <div class="outer">
        <div class="inner">
            <div class="main" id="main">
                <div id="jwplayer"></div> <!-- JW Player Container -->
                <div class="file-name">
                    <h4>File Name: </h4>
                    <p id="myDiv">{{file_name}}</p><br>
                    <h4>File Size: </h4>
                    <p>{{file_size}}</p>
                </div>
                <div class="downloadBtn">
                    <button class="magnet" onclick="streamDownload()">Download Video</button>
                    <button class="magnet" onclick="copyStreamLink()">Copy Link</button>
                    <button class="magnet" onclick="vlc_player()">Watch in VLC Player</button>
                    <button class="magnet" onclick="mx_player()">Watch in MX Player</button>
                    <button class="magnet" onclick="n_player()">Watch in nPlayer</button>
                </div>
            </div>
            <div class="abt">
                <div class="about">
                    <div class="about-dets">
                        <div class="abt-sec" id="abtus">
                            <h1>WELCOME TO OUR <span>FILE STREAM</span> BOT</h1>
                            <p>This is a Telegram Bot to Stream <span>Movies</span> and <span>Series</span> directly on Telegram. You can also <span>download</span> them if you want. Developed by <a href="https://github.com/AviPatilPro"><strong>Avi</strong></a>.</p>
                        </div>
                        <div class="abt-sec" id="channels">
                            <h1>JOIN OUR <span>TELEGRAM</span> CHANNELS</h1>
                            <div class="links chnl-link">
                                <a class="magnet" href="https://t.me/CheapieDeals"><button>CHEAP DEALS</button></a>
                                <a class="magnet" href="https://t.me/FilmyPixel"><button>FILMYPIXEL</button></a>
                                <a class="magnet" href="https://t.me/PostersZone"><button>POSTERS ZONE</button></a>
                                <a class="magnet" href="https://t.me/EpitomeQuality"><button>EPITOME QUALITY</button></a>
                            </div>
                        </div>
                        <div class="abt-sec" id="contact">
                            <p>Report Bugs and Contact us on Telegram Below</p>
                            <div class="links contact">
                                <a href="https://t.me/AvishkarPatil"><button>CONTACT</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <center>
                <div class="copyright">
                    <h5>Copyright © 2024 <a href="https://github.com/AviPatilPro"><strong>Avishkar Patil</strong></a>. All Rights Reserved.</h5>
                </div>
            </center>
        </footer>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sheryjs/dist/Shery.js"></script>
<script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
<script src="https://proavipatil.github.io/data/fs/src/script.js"></script>

<script>
    // Initialize JW Player
    jwplayer("jwplayer").setup({
        file: "{{file_url}}", // Video URL
        width: "100%",
        height: "auto",
        title: "{{file_name}}"
    });
</script>

</html>
